html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1170px;
}
/* Start Settings-box */
.Settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
  border: 1px solid #eee;
}
.toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  width: 31px;
  padding: 6px 0px;
}
.Settings-box .fa-gear {
  transition: transform 0.3s;
  color: black;
  font-size: 15px;
}
.Settings-box .Settings-container .option-box {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #eee;
}
.Settings-box .Settings-container .testing-option {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #eee;
}
.Settings-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.Settings-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: space-evenly;
}
.Settings-box .colors-list li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 3px #eee;
}
.Settings-box .option-box .colors-list li.active {
  border-color: #fff;
}
.Settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.Settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.Settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.Settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.Settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
.Settings-box .buttons {
  text-align: center;
}
.Settings-box span {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.Settings-box span:hover {
  opacity: 1;
}
.Settings-box .active {
  opacity: 1;
}
/* End Settings-box */
/* Start Nav Bullest */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 32px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border-color: transparent transparent transparent var(--main-color);
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
/* End Nav Bullest */
/* Start landing-page */
.landing-page {
  min-height: 100vh;
  background: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
  transition: background-image 1s ease;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.headar-area {
  position: relative;
  color: #fff;
  z-index: 2;
  display: flex;
  padding: 10px;
}
.headar-area .logo {
  width: 220px;
  padding: 15px;
  font-weight: bold;
}
.headar-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 15px;
}
.headar-area .links li {
  display: inline-block;
  padding-left: 20px;
  font-size: 15px;
}
.headar-area .links li a {
  text-decoration: none;
  color: white;
}
.headar-area .links li a:hover {
  color: var(--main-color);
}
.headar-area .links li .active {
  color: var(--main-color);
  border-radius: 10px;
}
.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}
.introduction-text h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
.introduction-text h1 span {
  color: var(--main-color);
}

/* End landing-page */
/* Start About Us */
.About-Us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.About-Us .info-box {
  flex: 1;
  padding: 30px;
}
.About-Us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.About-Us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.About-Us .image-box {
  flex: 1;
  text-align: center;
}
.About-Us .image-box img {
  width: 250px;
}
/* End About Us */
/* Start Our-Skills */
.Our-Skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.Our-Skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.Our-Skills .skill-box {
  display: flex;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.Our-Skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.Our-Skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.Our-Skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
  width: 0;
  transition: all 0.4s;
}
/* End Our-Skills */
/* Start Our Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 250px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 10000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 10001;
}
.imgpopup {
  max-width: 100%;
}
.buttoncancel {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
  border-radius: 50%;
}
.popup h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
/* End Our Gallery */
/* Start timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  position: absolute;
  top: 20px;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
.clrearfix {
  clear: both;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .left .content:before,
.timeline .timeline-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
}
.timeline .timeline-content .left .content:before {
  right: -20px;
  border-color: transparent transparent transparent #fff;
}
.timeline .timeline-content .right .content:before {
  left: -20px;
  border-color: transparent #fff transparent transparent;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}
/* End timeline */
/* Start features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
.features .feat-box img {
  width: 96px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}
/* End features */
/* Start Testimonials */
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  left: 0;
  top: 0;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #333;
  z-index: -1;
  right: 0;
  top: 0;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 60px;
  text-align: left;
}
.testimonials .boxes {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 7;
  gap: 10px;
  padding-bottom: 25px;
}
.testimonials .boxes .ts-box {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}
.testimonials .boxes .ts-box p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 15px;
  color: #707070;
  font-style: italic;
}
.testimonials .boxes .ts-box .person-info {
  overflow: hidden;
}
.testimonials .boxes .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .boxes .ts-box .person-info h4 {
  margin: 14px 0 10px;
}
.testimonials .boxes .ts-box .person-info p {
  color: #707070;
  margin: 0;
}
/* End Testimonials */
/* Start contact */
.contact {
  min-height: 600px;
  background-image: url(../imgs/contact.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form textarea {
  height: 150px;
  resize: none;
}
.contact form input[type="submit"] {
  padding: 8.5px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.footer {
  background-color: #333;
  color: #eee;
  padding: 20px;
  text-align: center;
}
/* End contact */
/* Start Media */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* End Media */
