:root {
  --main-color: #ff9800;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Start Settings-box */
.Settings-box {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  width: 200px;
  min-height: 100vh;
  top: 0;
  left: -200px;
  transition: left 0.3s ease;
}
.toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  width: 31px;
  padding: 8px 0px;
}
.Settings-box .fa-gear {
  transition: transform 0.3s;
  color: black;
  font-size: 17px;
}
.Settings-box .Settings-container {
}
/* End Settings-box */
/* Start landing-page */
.landing-page {
  min-height: 100vh;
  background: url(../imgs/01.jpg);
  background-size: cover;
  position: relative;
  transition: background-image 1s ease-in-out;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.headar-area {
  position: relative;
  color: #fff;
  z-index: 2;
  display: flex;
  padding: 10px;
}
.headar-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.headar-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 15px;
}
.headar-area .links li {
  display: inline-block;
  padding-left: 20px;
  font-size: 15px;
}
.headar-area .links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.headar-area .links li a:hover {
  color: var(--main-color);
}
.headar-area .links li .active {
  color: var(--main-color);
  border-radius: 10px;
}
.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}
.introduction-text h1 {
  font-size: 35px;
  margin: 0 0 12px;
}
.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
.introduction-text h1 span {
  color: var(--main-color);
}
/* End landing-page */
